<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.strEBMSConn" connectionString="Data Source=VSSQLEBMS\EBMS;Initial Catalog=EBMS_Snapshot;Persist Security Info=True;User ID=gpcb;Password=gpcb;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="strCompDatabase" serializeAs="String">
                <value>usiprddb</value>
            </setting>
            <setting name="Amendment_Error_EmailAddressFrom" serializeAs="String">
                <value>Amendment_Error@mcec.com.au</value>
            </setting>
            <setting name="nCommandTimeOut" serializeAs="String">
                <value>600</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DAL.Properties.Settings>
            <setting name="Amendment_Error_EmailAddressTo" serializeAs="String">
                <value>azheng@mcec.com.au</value>
            </setting>
        </DAL.Properties.Settings>
    </userSettings>
</configuration>